// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$davys-grey: #504F4Eff;
$cg-blue: #007FACff;
$honolulu-blue: #1D6D9Fff;
$cultured: #F6F6F6ff;
$cultured-2: #EFF0F2ff;
